<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/formaPagamento/(form)}" method="POST"
                th:object="${formaPagamento}">
                <input type="hidden" th:field="*{id}">
                
                <div class="mb-3">
                    <label for="txtTipo">Tipo:</label>
                    <input type="text" class="form-control"
                        id="txtTipo" th:field="*{tipo}">
                    <p th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}" class="alert alert-danger"></p>
                </div>
                <button type="submit" 
                    class="btn btn-success">Salvar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>