<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    
    <body>
        <nav th:replace="layout :: menu"></nav>

        <main class="container">
            
            <div class="row">
                <a href="/clientes/novo" class="btn btn-success mb-3 col-2">Novo Cliente</a>
                <form class="d-flex mb-3 col-10" role="search" th:action="@{/clientes/}" method="GET">
                    <input class="form-control me-2" name="busca" type="search" placeholder="Pesquise pelo nome ou endereço ou CPF" aria-label="Search">
                    <button class="btn btn-outline-success" name="btn-pesquisar" type="submit">Pesquisar</button>
                </form>
            </div>

            <div id="alerta-del" class="alert alert-danger d-none" th:name="${alertaDel}">Não é possível deletar um cliente cadastrado em uma venda</div>

            <table class="table" id="tabclientes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>CPF</th>
                        <th>Sexo</th>
                        <th>Cidade</th>
                        <th>Contato</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umCliente : ${listaClientes}">
                        <td th:text="${umCliente.id}"></td>
                        <td th:text="${umCliente.nome}"></td>
                        <td th:text="${umCliente.endereco}"></td>
                        <td th:text="${umCliente.cpf}"></td>
                        <td th:text="${umCliente.sexo}"></td>
                        <td th:text="${umCliente.cidadeResidencia?.nome}"></td>
                        <td th:text="${umCliente.contato}"></td>
                        
                        <td>
                            <a th:href="@{'/clientes/alterar/' + ${umCliente.id}}" 
                            class="btn btn-warning">Alterar</a>
                            <button class="btn btn-danger js-delete" 
                            th:data-id="${umCliente.id}">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalcliente">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Cliente</h5>
                    <button type="button" class="btn-close" 
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão do cliente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-success" id="btnsim">Sim</button>
                </div>
                </div>
            </div>
        </div>

        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/scriptCliente.js}"></script>
    </body>
</html>