<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login - JG Farmácias</title>
        <link rel="icon" type="imagem/png" href="/img/img03.png"/>
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

  <body>
    <div class="container">
        <form th:action="@{/login}" method="post" id="form" >
            <div class="topo">
                <img src="img/img03.png" alt="logo" width="130" id="logo">
                <h1 class="mb-3">Faça seu login</h1>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">Usuário e senha inválidos</div>
            <div th:if="${param.logout}" class="alert alert-success">Logout concluído</div>
            <div class="mb-3 setor-form">
                <label for="username" class="form-label">Usuário:</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <div class="mb-3 setor-form">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" id="btn-login" class="btn btn-success">Enviar</button>
        </form>
    </div>
  </body>
</html>