<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/vendas/(form)}" method="POST" th:object="${venda}">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="mb-3 col">
                        <label wfor="txt-comprador">Comprador:</label>
                        <select name="comprador" id="txt-comprador" class="form-control selectpicker" th:field="*{comprador}" data-live-search="true">
                            <option value="">Nome - CPF</option>
                            <option th:each="comprador : ${listaCompradores}" th:text="${comprador.nome} + ' - ' + ${comprador.cpf}" th:value="${comprador.id}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('comprador')}" th:errors="*{comprador}" class="alert alert-danger"></p>
                    </div>
                    <div class="mb-3 col">
                        <label for="txt-vendedor">Vendedor:</label>
                        <select name="vendedor" id="txt-vendedor" class="form-control selectpicker" th:field="*{vendedor}" data-live-search="true">
                            <option value="">Nome - ID</option>
                            <option th:each="vendedor : ${listaVendedores}" th:text="${vendedor.nome} + ' - ' + ${vendedor.id}" th:value="${vendedor.id}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('vendedor')}" th:errors="*{vendedor}" class="alert alert-danger"></p>
                    </div>
                    <div class="mb-3 col">
                        <label for="txt-data">Data da Venda:</label>
                        <input type="date" id="txt-data" th:field="*{data}" class="form-control">
                        <p th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="alert alert-danger"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label for="txt-formaPagamento">Forma de Pagamento:</label>
                        <select name="formaPagamento" id="txt-formaPagamento" class="form-select" th:field="*{formaPagamento}">
                            <option value=""></option>
                            <option th:each="formaPagamento : ${listaPagamentos}" th:text="${formaPagamento.tipo}" th:value="${formaPagamento.id}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('formaPagamento')}" th:errors="*{formaPagamento}" class="alert alert-danger"></p>
                    </div>
                    <div class="mb-3 col">
                        <label for="txt-subtotal">Subtotal:</label>
                        <input type="number" id="txt-subtotal" th:field="*{subtotal}" class="form-control" disabled>
                        <p th:if="${#fields.hasErrors('subtotal')}" th:errors="*{subtotal}" class="alert alert-danger"></p>
                    </div>
                    <div class="mb-3 col">
                        <label for="txt-desconto">Desconto:</label>
                        <input type="text" id="txt-desconto" th:value="*{calculaDesconto()}" class="form-control" disabled>
                    </div>
                    <div class="mb-3 col">
                        <label for="txt-valorFinal">Total:</label>
                        <input type="number" id="txt-valorFinal" th:field="*{valorFinal}" class="form-control" disabled>
                        <p th:if="${#fields.hasErrors('valorFinal')}" th:errors="*{valorFinal}" class="alert alert-danger"></p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title  mb-3">
                            Itens de Venda Vinculados
                        </h5>

                        <button type="reset" class="btn btn-success mb-3" id="novoItem">Novo Item</button>
                        
                        <div class="card mb-3 d-none" id="form-novoItem">
                            <div class="card-body">
                                <h6 class="card-title"> Novo Item de Venda</h6>
                                <div class="mb-3">
                                    <label for="cbproduto">Produto</label>
                                    <select class="form-select" id="cbproduto" th:field="${novoItem.produto}">
                                        <option value=""></option>
                                        <option th:each="umProduto : ${listaProdutos}" th:value="${umProduto.id}" th:text="${umProduto.nome}"></option>
                                    </select>
                                    <!-- <p th:if="${#fields.hasErrors('itens')}" th:errors="${novoItem.produto}" class="alert alert-danger"></p> -->
                                </div>
                                <div class="mb-3">
                                    <label for="txt-qtdVenda">Quantidade:</label>
                                    <input type="number" id="txt-qtdVenda" class="form-control" th:field="${novoItem.qtdVenda}">
                                    <!-- <p th:if="${#fields.hasErrors('itens')}" th:errors="${novoItem.qtdVenda}" class="alert alert-danger"></p> -->
                                </div>
                                <button name="incitem" type="submit" class="btn btn-success" id="addItem">Adicionar Item</button>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="id-item">
                                <tr th:each="umItem, stat : *{itens}">
                                    <td th:text="${umItem.produto?.nome}"></td>
                                    <input type="hidden" th:field="*{itens[__${stat.index}__].produto}">
                                    <td th:text="${umItem.qtdVenda}"></td>
                                    <input type="hidden" th:field="*{itens[__${stat.index}__].qtdVenda}">
                                    <td th:text="${umItem.produto?.valorUnitario}"></td>
                                    <input type="hidden" th:field="*{itens[__${stat.index}__].produto}">
                                    <td>
                                        <button type="butmit" name="removeitem" th:value="__${stat.index}__" class="btn btn-danger">Remover</button>
                                    </td>
                                    <!-- <p th:if="${#fields.hasErrors('umItem')}" th:errors="${umItem}" class="alert alert-danger"></p> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button name="save" type="submit" class="btn btn-success">Salvar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/scriptVenda.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.js"></script>
    </body>
</html>