<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <div class="row">
                <a href="/vendas/nova" class="btn btn-success mb-3 col-2">Nova Venda</a>
                <form class="d-flex mb-3 col-10" role="search" th:action="@{/vendas/}" method="GET">
                    <input class="form-control me-2" name="busca" type="search" placeholder="Pesquise pelo comprador ou vendedor" aria-label="Search">
                    <button class="btn btn-outline-success" name="btn-pesquisar" type="submit">Pesquisar</button>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Itens</th>
                        <th>Comprador</th>
                        <th>Vendedor</th>
                        <th>Data</th>
                        <th>Forma de Pagamento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venda : ${listaVendas}">
                        <td th:text="${#lists.size(venda.getItens)}"></td>
                        <td th:text="${venda.comprador?.nome}"></td>
                        <td th:text="${venda.vendedor?.nome}"></td>
                        <td th:text="${#dates.format(venda.data, 'dd/MM/yyyy')}"></td>
                        <td th:text="${venda.formaPagamento?.tipo}"></td>
                        <td class="d-none" th:text="${venda.subtotal}"></td>
                        <td th:text="${venda.valorFinal}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>