<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/produtos/(form)}" method="POST" th:object="${produto}">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="txt-nome" class="form-label">Nome:</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="txt-nome">
                </div>
                <div class="mb-3">
                    <label for="txt-descricao" class="form-label">Descrição:</label>
                    <input type="text" th:field="*{descricao}" class="form-control" id="txt-descricao">
                </div>
                <div class="mb-3">
                    <label for="txt-qtdEstoque" class="form-label">Quantidade:</label>
                    <input type="text" th:field="*{qtdEstoque}" class="form-control" id="txt-qtdEstoque">
                </div>
                <div class="mb-3">
                    <label for="txt-valorUnitario" class="form-label">Valor Unitário:</label>
                    <input type="text" th:field="*{valorUnitario}" class="form-control" id="txt-valorUnitario">
                </div>
                <div class="mb-3">
                    <label for="txt-fornecedor">Fornecedor:</label>
                    <select name="fornecedor" id="txt-fornecedor" class="form-select" th:field="*{fornecedor}">
                        <option th:each="fornecedor : ${listaFornecedores}" th:text="${fornecedor.nome}" th:value="${fornecedor.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>